{% extends "layout.html" %}

{% block content %}
<div class="jumbotron border rounded p-3" style="min-width: 400px">
    <div class="media p-3">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body pl-3">
            <h2 class="account-heading"> {{ current_user.username }} </h2>
            <hr class="my-4">
            <p class="text-secondary">
                    {{ current_user.email }}
            </p>
        </div>
    </div>
    <div class="btn-group">
        <a class="btn btn-primary btn-group mt-2" data-toggle="collapse" href="#updateAccount" role="button" aria-expanded="false" aria-controls="collapseExample">
            Update Account Information
        </a>
    </div>
    <hr class="my-4">
    {% include 'snippets/collapse/update-acc.html' %}
    <ul class="list-unstyled">
        {% for entry in entrys %}
        <li class="media">
            <a href="{{ url_for('documentation.user_entrys', username=entry.author.username) }}">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + entry.author.image_file) }}">
            </a>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a class="mr-2" href="{{ url_for('documentation.user_entrys', username=entry.author.username) }}">{{entry.title}}</a></h5>
                <small class="text-muted">
                    <a href="{{ url_for('documentation.by_category', category=entry.category) }}"><span class="badge badge-pill badge-success">{{entry.category}}</span></a>
                </small>
                <small class="text-muted">{{ entry.date_posted.strftime('%Y-%m-%d') }}</small>
                <p>{{ entry.content }}</p>
            </div>
        </li>
        <hr class="my-4">
    {% endfor %}
    </ul>
</div>
<!-- Update account form end-->
{% endblock content %}