{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center mt-2">
    <h1 class="display-4">Justice Dashboard</h1>
    <hr class="my-4">
    <p class="lead">Hello! It seems in the meantime <span class="badge badge-light">4</span> new cases appeared.</p>
    <div class="text-center mt-2">
        <a href="{{ url_for('documentation.by_category', category='Wallhack') }}"><span class="badge badge-pill badge-danger">Wallhack</span></a>
        <a href="{{ url_for('documentation.by_category', category='Aimbot') }}"><span class="badge badge-pill badge-danger">Aimbot</span></a>
        <a href="{{ url_for('documentation.by_category', category='Externals') }}"><span class="badge badge-pill badge-danger">External</span></a>
        <a href="{{ url_for('documentation.by_category', category='Toxicity') }}"><span class="badge badge-pill badge-warning">Toxicity</span></a>
        <a href="{{ url_for('documentation.by_category', category='Abusive Behavior') }}"><span class="badge badge-pill badge-warning">Abusive Behavior</span></a>
    </div>
    <hr class="my-4">
    <div class="row row-cols-4 row-cols-md-5">
        {% for case in cases %}
            <div class="col mb-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='placeholder.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Case {{case}}</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
