{% extends "layout.html" %}

{% block content %}

<div class="jumbotron mt-2 text-center">
    <h1 class="display-4">User Dashboard</h1>
    <hr class="my-4">
    <p class="lead">Check back later for more updates.</p>
    <div class="row row-cols-1 row-cols-md-5">
        {% for graph in graphs %}
            <div class="col mb-4">
                <div class="card bg-dark" style="height:200px">
                    <div class="card-body">
                    <h5 class="card-title text-center text-white">Graph </h5>
                    <img src="{{ url_for('static', filename='placeholder.png') }}" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
