{% extends "layout.html" %}

{% block content %}
<div class="jumbotron mt-2">
		<h1 class="display-4 text-center">User Overview</h1>
		<hr class="my-4">
		<p class="lead text-center">Leaderboards of correct judged cases</p>
		<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Success-rate</th>
							<th scope="col">Missed cases</th>
							<th scope="col">Username</th>
							<th scope="col">Username</th>
							<th scope="col">Username</th>
						</tr>
					</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>57%</td>
								<td>0%</td>
								<td>@mdo</td>
								<td>@mdo</td>
								<td>@mdo</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>81%</td>
								<td>44%</td>
								<td>@fat</td>
								<td>@fat</td>
								<td>@fat</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>13%</td>
								<td>22%</td>
								<td>@twitter</td>
								<td>@twitter</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>13%</td>
								<td>22%</td>
								<td>@twitter</td>
								<td>@twitter</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<th scope="row">5</th>
								<td>13%</td>
								<td>22%</td>
								<td>@twitter</td>
								<td>@twitter</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<th scope="row">6</th>
								<td>13%</td>
								<td>22%</td>
								<td>@twitter</td>
								<td>@twitter</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td>13%</td>
								<td>22%</td>
								<td>@twitter</td>
								<td>@twitter</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<th scope="row">8</th>
								<td>13%</td>
								<td>22%</td>
								<td>@twitter</td>
								<td>@twitter</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<th scope="row">9</th>
								<td>13%</td>
								<td>22%</td>
								<td>@twitter</td>
								<td>@twitter</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<th scope="row">10</th>
								<td>13%</td>
								<td>22%</td>
								<td>@twitter</td>
								<td>@twitter</td>
								<td>@twitter</td>
							</tr>
						</tbody>
				</table>
		</div>
</div>

{% endblock content %}
