<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top flex-md-nowrap p-0" style="font-size:17px">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        StiebAPI - {% if current_user.is_authenticated %} Welcome, {{current_user.username}} {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"  style="margin-left: 50px">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('dashboard.home') }}"><span data-feather="home" style="margin-bottom: 2px"></span> Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item mobileShow">
                <a class="nav-link" href="{{ url_for('documentation.documentation_home') }}">Documentation</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span data-feather="user" style="margin-bottom: 2px"></span> My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('users.account') }}"><span data-feather="user" style="margin-bottom: 2px"></span> My Profile</a>
                    <a class="dropdown-item" href="{{ url_for('users.account') }}"><span data-feather="settings" style="margin-bottom: 2px"></span> Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('users.logout') }}"><span data-feather="log-out" style="margin-bottom: 2px"></span> Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.login') }}">
                    <span data-feather="log-in" style="margin-bottom: 2px"></span> Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.register') }}">
                    <span data-feather="user-check" style="margin-bottom: 2px"></span> Register</a>
            </li>
            {% endif %}
        </ul>
        {% if current_user.is_authenticated %}
        <form class="form-inline" method="post" action="" id="">
            <input class="form-control rounded mr-sm-2" style="margin-left: 10px; min-width: 400px; max-width: 30% padding: 5px" type="search" placeholder="Search" aria-label="Search">
        </form>
        {% endif %}
    </div>
</nav>