<!-- START NAVIGATION -->
<header class="navbar navbar-dark navbar-expand-md sticky-top bg-primary gradient-navbar flex-row flex-wrap p-0 shadow fs-6">
    <!-- Top Left, different colored part with >> Username -->
    <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-wrap overflow-auto">
        <!-- Side Bar Toggler -->
        <button class="navbar-toggler" data-bs-parent="#myGroup" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span data-feather="chevrons-right" class="feather-medium"></span> {{ current_user.username }}
    </div>
    <!-- Top Nav Bar Toggler -->
    <button class="navbar-toggler mx-2" data-bs-parent="#myGroup" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- START ENTRYS -->
    <div class="collapse navbar-collapse" id="navbarCollapse" data-bs-parent="#myGroup">
        <!-- Left side -->
        <ul class="navbar-nav mr-auto mx-2">
            <!-- 1st Entry -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes_messages') }}">
                <span data-feather="message-circle" class="feather-header"></span> Conversations</a>
            </li>
            <!-- 2nd Entry -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="bell" class="feather-header"></span> Notifications</a>
            </li>
            <!-- 3rd Entry -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="help-circle" class="feather-header"></span> Documentation</a>
            </li>
        </ul>
        <!-- Right side -->
        <div class="ms-md-auto">
            <ul class="navbar-nav mx-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSettings" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span data-feather="settings" class="feather-header"></span> Settings
                    </a>
                    <!-- START DROPDOWN SETTINGS -->
                    <div class="dropdown-menu mb-2" aria-labelledby="navbarDropdownSettings">
                        <a class="dropdown-item" href="{{ url_for('routes_account') }}"><span data-feather="user" class="feather-header"></span> Profile</a>
                        <a class="dropdown-item" href="{{ url_for('routes_account_settings') }}"><span data-feather="lock" class="feather-header"></span> Settings</a>
                        <a class="dropdown-item" href="{{ url_for('routes_logout') }}"><span data-feather="log-out" class="feather-header"></span> Logout</a>
                        <div class="dropdown-divider">Theming</div>
                        <a class="dropdown-item" id="theme-toggle" data-bs-theme-value="dark" href="#"><span data-feather="moon" class="feather-header"></span> Dark Mode</a>
                        <a class="dropdown-item" id="theme-toggle" data-bs-theme-value="light" href="#"><span data-feather="sun" class="feather-header"></span> Light Mode</a>
                        <a class="dropdown-item" data-bs-theme-value="auto" href="#"><span data-feather="sunrise" class="feather-header"></span> Auto Theme</a>
                    </div>
                    <!-- END DROPDOWN SETTINGS -->
                </li>
            </ul>
        </div>
    </div>
    <!-- END ENTRYS -->
</header>
<!-- END NAVIGATION-->
