{% extends "layout_dashboard.html" %}
{% block content %}
<!-- START BREADCRUMB -->
<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <span data-feather="user" class="feather-title"></span>
    <div class="lh-1">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 fs-4">
                        <li class="breadcrumb-item"><a href="{{ url_for('routes_dashboard')}}" class="text-white fs-4"> Dashboard</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- END BREADCRUMB -->
<!-- START ACCOUNT SECTION -->
<div class="media px-4">
    <!-- Start Account Layout -->
    <div class="row">
        <!-- Left side, 2 Boxes stack, Main Frame with Profile Picture + recent posts START ------------------------------->
        <div class="col-lg-4">
            {% include 'pages/user/snippets/profile/main_frame.html' %}
            {% include 'pages/user/snippets/profile/recent_posts.html' %}
        </div>
        <!-- Left side, 2 Boxes stack, Main Frame with Profile Picture + recent posts END ------------------------------->
        <!-- Right side, 2 rows, top row 1div (main information) and bottom row split in 2 (jobs & assignments)  START -->
        <div class="col-lg-8">
            {% include 'pages/user/snippets/profile/information.html' %}
            <div class="row">
                {% include 'pages/user/snippets/profile/assignments.html' %}
                {% include 'pages/user/snippets/profile/jobs.html' %}
            </div>
        </div>
    </div>
</div>
<!-- END ACCOUNT SECTION -->
{% endblock content %}
