<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>StiebAPI - {{ title }}</title>
    {% else %}
        <title>StiebAPI</title>
    {% endif %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <style type="text/css">
        .mobileShow { display: none;}
      
        /* Smartphone Portrait and Landscape */
        @media only screen
          and (min-device-width : 320px)
          and (max-device-width : 480px){ 
            .mobileShow {display: inline;}
        }
    </style>
</head>
<body oncontextmenu="return false">
    {% include 'snippets/top_navigation.html' %}
    <!-- START CONTENTBODY  -->
    {% if current_user.is_authenticated %}
    <div class="container-fluid">
        <div class="row">
            {% include 'snippets/side_navigation.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    {% else %}
        {% if title == "Welcome" %}
        {% else%}
        <div class="container-fluid" style="min-width: 400px; max-width: 50%">
        {% endif %}
    {% endif %}
    

        
    {% include 'snippets/alerts.html' %}

    {% block content %}
    {% endblock %}


    {% include 'snippets/footer.html' %}
            </main>
        </div>
    </div>
    <!-- External resources, loaded at last to speed up Page-loading-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script><script>feather.replace()</script>
</body>
</html>